body {
 background-color: #8539EE;
}

h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px #000000
}
}
img:shake {
}

nav{
  list-style-type: none;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}
li{
  display: inline;
  padding: 1%;
  float: left;
}
li:hover{
  background-color: lightgrey;
}
a{
  text-decoration: none;
  color: #8539EE;
}
<head> 
<link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrQJ1e81Zi7ubFOMQNP7hmgVGtXNgbKL-sog:https://tr.rbxcdn.com/3de1559d0503036368d5d92004a7249f/420/420/Image/Png&usqp=CAU">
</head>
